{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Students</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{%url 'home' %}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Students</li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <a href="" class="btn btn-primary mr-1">
                            <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

        <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="CustomerTableOrderDetail" class="table table-center table-hover">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="width:25% !important;" class="text-center">Name</th>
                                        <th class="text-center" style="width:25% !important;">Class</th>
                                        <th class="text-center" style="width:25% !important;">Roll</th>
                                        <th class="text-center" style="width:25% !important;">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for student in student_list %}
                                    <tr>
                                        <td class="text-center">{{ student.name }}</td>
                                        <td class="text-center">{{ student.class_name.name }}</td>
                                        <td class="text-center">Roll</td>
                                        <td class="text-center">Action</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



    </div>
</div>


{% endblock %}