Coding challenge - Junior Software Engineer Q1 2023
Hey there, good day! Let’s build a POC together. Assume, we are building a school
management system, of course with minimal facilities. We must have some functionalities as
below:
● We can add new classes, i.e. Class 6, class 7, class 8, and so on.
● For every class, we can add/remove subjects, i.e. Bangla, English, and Mathematics.
Keep in mind, multiple classes can have subjects with the same name, i.e. both the class
6 and 7 have Bangla as their subject.
● We should be able to add/update/delete students to classes, and they will have their
subjects associated with them.
● A teacher should be able to input marks for students for their respective classes and
subjects, i.e. Class 6, subject English, student X, marks 75. Your system should be
capable to convert it to GPA gradings.
● You have to create a dashboard summarizing the results where you will show the results
based on the search filters, i.e.
○ There will be two dropdown menus, i.e. one for the class and one for the
subjects. A class will always be selected. If no subject is selected, you have to
aggregate the results and show like below

○ If you select a subject along with the class, then the dashboard should display
something like below

● You need to have an authentication system so that the authorized person can enter the
data, i.e. the class teacher is only allowed to add/update the class/subject/marks while
all the students or anyone can visit the site to see the results and filter them according to
the above-mentioned filters.
● You must use Python as the programming language, and MongoDB as the
database.
● When you are done with the coding, please prepare nice Readme documentation in
github on how to execute the application, and the user manual.
● Bonus point for Dockerization.
● use GitHub for version control and send the link to
○ ahmad.sajid@mulytic.io,
○ CC: nazmul.islam@mulytic.io, pretom.das@mulytic.io, progga.roy@mulytic.io