{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <title>RNDM Dashboard</title>

    <link rel="shortcut icon" href="{{ company.fav_icon.url }}">

    <link rel="stylesheet" href="{% static '' %}dashboard/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static '' %}dashboard/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="{% static '' %}dashboard/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="{% static '' %}dashboard/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="{% static '' %}dashboard/plugins/datatables/datatables.min.css">


    <link rel="stylesheet" href="{% static '' %}dashboard/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="{% static '' %}dashboard/css/style.css">
</head>
<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">

<div class="main-wrapper">

    <div class="header header-one">

        <div class="header-left header-left-one">
            {% if company.dark_logo %}
            <a class="logo" href="{% url 'dashboard' %}">
                <img alt="Logo" src="{{ company.dark_logo.url }}">
            </a>
            {% endif %}
            <a class="white-logo" href="{% url 'dashboard' %}">
                <img alt="Logo" src="{{ company.bright_logo.url }}">
            </a>
            <a class="logo logo-small" href="{% url 'dashboard' %}">
                <img alt="Logo" height="30" src="{{ company.dark_logo.url }}" width="30">
            </a>
        </div>


        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-bars"></i>
        </a>


<!--        <div class="top-nav-search">-->
<!--            <form>-->
<!--                <input class="form-control" placeholder="Search here" type="text">-->
<!--                <button class="btn" type="submit"><i class="fas fa-search"></i></button>-->
<!--            </form>-->
<!--        </div>-->


        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>


        <ul class="nav nav-tabs user-menu">

<!--            <li class="nav-item dropdown has-arrow flag-nav">-->
<!--                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">-->
<!--                    <img alt="" height="20" src="{% static '' %}dashboard/img/flags/us.png"> <span>English</span>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-right">-->
<!--                    <a class="dropdown-item" href="javascript:void(0);">-->
<!--                        <img alt="" height="16" src="{% static '' %}dashboard/img/flags/us.png"> English-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="javascript:void(0);">-->
<!--                        <img alt="" height="16" src="{% static '' %}dashboard/img/flags/fr.png"> French-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="javascript:void(0);">-->
<!--                        <img alt="" height="16" src="{% static '' %}dashboard/img/flags/es.png"> Spanish-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="javascript:void(0);">-->
<!--                        <img alt="" height="16" src="{% static '' %}dashboard/img/flags/de.png"> German-->
<!--                    </a>-->
<!--                </div>-->
<!--            </li>-->


<!--            <li class="nav-item dropdown">-->
<!--                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">-->
<!--                    <i data-feather="bell"></i> <span class="badge rounded-pill">5</span>-->
<!--                </a>-->
<!--                <div class="dropdown-menu notifications">-->
<!--                    <div class="topnav-dropdown-header">-->
<!--                        <span class="notification-title">Notifications</span>-->
<!--                        <a class="clear-noti" href="javascript:void(0)"> Clear All</a>-->
<!--                    </div>-->
<!--                    <div class="noti-content">-->
<!--                        <ul class="notification-list">-->
<!--                            <li class="notification-message">-->
<!--                                <a href="activities.html">-->
<!--                                    <div class="media d-flex">-->
<!--<span class="avatar avatar-sm">-->
<!--<img alt="" class="avatar-img rounded-circle" src="{% static '' %}dashboard/img/profiles/avatar-02.jpg">-->
<!--</span>-->
<!--                                        <div class="media-body">-->
<!--                                            <p class="noti-details"><span class="noti-title">Brian Johnson</span> paid-->
<!--                                                the invoice <span class="noti-title">#DF65485</span></p>-->
<!--                                            <p class="noti-time"><span class="notification-time">4 mins ago</span></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="notification-message">-->
<!--                                <a href="activities.html">-->
<!--                                    <div class="media d-flex">-->
<!--<span class="avatar avatar-sm">-->
<!--<img alt="" class="avatar-img rounded-circle" src="{% static '' %}dashboard/img/profiles/avatar-03.jpg">-->
<!--</span>-->
<!--                                        <div class="media-body">-->
<!--                                            <p class="noti-details"><span class="noti-title">Marie Canales</span> has-->
<!--                                                accepted your estimate <span class="noti-title">#GTR458789</span></p>-->
<!--                                            <p class="noti-time"><span class="notification-time">6 mins ago</span></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="notification-message">-->
<!--                                <a href="activities.html">-->
<!--                                    <div class="media d-flex">-->
<!--                                        <div class="avatar avatar-sm">-->
<!--                                            <span class="avatar-title rounded-circle bg-primary-light"><i-->
<!--                                                    class="far fa-user"></i></span>-->
<!--                                        </div>-->
<!--                                        <div class="media-body">-->
<!--                                            <p class="noti-details"><span class="noti-title">New user registered</span>-->
<!--                                            </p>-->
<!--                                            <p class="noti-time"><span class="notification-time">8 mins ago</span></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="notification-message">-->
<!--                                <a href="activities.html">-->
<!--                                    <div class="media d-flex">-->
<!--<span class="avatar avatar-sm">-->
<!--<img alt="" class="avatar-img rounded-circle" src="{% static '' %}dashboard/img/profiles/avatar-04.jpg">-->
<!--</span>-->
<!--                                        <div class="media-body">-->
<!--                                            <p class="noti-details"><span class="noti-title">Barbara Moore</span>-->
<!--                                                declined the invoice <span class="noti-title">#RDW026896</span></p>-->
<!--                                            <p class="noti-time"><span class="notification-time">12 mins ago</span></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li class="notification-message">-->
<!--                                <a href="activities.html">-->
<!--                                    <div class="media d-flex">-->
<!--                                        <div class="avatar avatar-sm">-->
<!--                                            <span class="avatar-title rounded-circle bg-info-light"><i-->
<!--                                                    class="far fa-comment"></i></span>-->
<!--                                        </div>-->
<!--                                        <div class="media-body">-->
<!--                                            <p class="noti-details"><span class="noti-title">You have received a new message</span>-->
<!--                                            </p>-->
<!--                                            <p class="noti-time"><span class="notification-time">2 days ago</span></p>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="topnav-dropdown-footer">-->
<!--                        <a href="activities.html">View all Notifications</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->


            <li class="nav-item dropdown has-arrow main-drop">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
<!--                    <span class="user-img">-->
<!--                        <img alt="" src="{% static '' %}dashboard/img/profiles/avatar-01.jpg">-->
<!--                    <span class="status online"></span>-->
                    </span>
                    <i class="fas fa-user me-2" style="font-size:15px;"></i><span>Admin</span>
                </a>
                <div class="dropdown-menu">
<!--                    <a class="dropdown-item" href=""><i class="me-1" data-feather="user"></i> Profile</a>-->
                    <a style="font-size:13px;" class="dropdown-item" href="{% url 'change_password' %}"><i class="fa fa-lock me-2"></i>Change Password</a>
                    <a class="dropdown-item" href="{% url 'logout_view' %}"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>
                </div>
            </li>

        </ul>

    </div>


    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-menu" id="sidebar-menu">
                <ul>
                    <li class="menu-title"><span>Main</span></li>
                    <li class="{% if d_url == 'dashboard' %}active{% endif %}">
                        <a  href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="{% if h_slider_url == 'home_slider' or edit_home_slider_url == 'edit_home_slider' %}active{% endif %}">
                        <a href="{% url 'home_slider' %}"><i class="fab fa-slideshare"></i> <span>Slider</span></a>
                    </li>


                    <li class="submenu">
                        <a href="#"><i class="fas fa-address-card"></i> <span>About</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li class="{% if edit_about_url == 'edit_about' %}active{% endif %}"><a href="{% url 'edit_about' %}">About</a></li>
                            <li class="{% if about_slider_url == 'about_slider' %}active{% endif %}"><a href="{% url 'about_slider' %}">Slider</a></li>
                        </ul>
                    </li>

<!--                    <li class="menu-title">-->
<!--                        <span>About</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#"><i class="fas fa-address-card"></i><span>About</span></a>-->
<!--                    </li>-->
<!--                    <li><a href="{% url 'about_slider' %}"><i class="fas fa-sliders-h"></i><span>Slider</span></a></li>-->


                    <li class="menu-title">
                        <span>Company</span>
                    </li>
                    <li class="{% if edit_company_info_url == 'edit_company_info' %}active{% endif %}">
                        <a href="{% url 'edit_company_info' %}"><i class="fas fa-qrcode"></i><span>Company Info</span></a>
                    </li>
                    <li class="{% if terms_condition_url == 'edit_terms_and_conditions' %}active{% endif %}">
                        <a href="{% url 'edit_terms_and_conditions' %}"><i class="fas fa-pen"></i><span>Terms and conditions</span></a>
                    </li>
                    <li class="{% if privacy_policy_url == 'edit_privacy_policy' %}active{% endif %}">
                        <a href="{% url 'edit_privacy_policy' %}"><i class="fas fa-blind"></i><span>Privacy policy</span></a>
                    </li>
                    <li class="menu-title">
                        <span>Shop</span>
                    </li>
                    <li class="submenu">
                        <a href="#"><i class="fas fa-bars"></i> <span>Categories</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li class="{% if category_list_url == 'category_list' %}active{% endif %}"><a href="{% url 'category_list' %}">Category List</a></li>
                            <li class="{% if create_category_url == 'create_category' %}active{% endif %}"><a href="{% url 'create_category' %}">Add Category</a></li>
                        </ul>
                    </li>


<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="clipboard"></i> <span> Invoices</span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="{% url 'category_list' %}">Invoices List</a></li>-->
<!--                            <li><a href="{% url 'create_category' %}">Invoices Grid</a></li>-->
<!--                            <li><a href="#">Add Invoices</a></li>-->
<!--                            <li><a href="#">Edit Invoices</a></li>-->
<!--                            <li><a href="#">Invoices Details</a></li>-->
<!--                            <li><a href="#">Invoices Settings</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->


                    <li class="submenu">
                        <a href="#"><i class="fas fa-box-open"></i> <span>Products</span>
                            <span class="menu-arrow"></span></a>
                        <ul>

                            <li class="{% if product_list_url == 'product_list' %}active{% endif %}"><a href="{% url 'product_list' %}">Product List</a></li>
                            <li class="{% if create_product_url == 'create_product' %}active{% endif %}"><a href="{% url 'create_product' %}">Add Product</a></li>
                        </ul>
                    </li>

                    <li class="submenu">
                        <a href="#"><i class="fas fa-shipping-fast"></i> <span>Shipping Price</span>
                            <span class="menu-arrow"></span></a>
                        <ul>
                            <li class="{% if shipping_url == 'shipping_district_list' %}active{% endif %}"><a href="{% url 'shipping_district_list' %}">Shipping Price List</a></li>
                            <li class="{% if create_shipping_district_url == 'create_shipping_district' %}active{% endif %}"><a href="{% url 'create_shipping_district' %}">Add Shipping Price</a></li>
                        </ul>
                    </li>

                    <li class="{% if orders_url == 'orders' %}active{% endif %}">
                        <a href="{% url 'orders' %}"><i class="fas fa-cube"></i></i> <span>Orders</span></a>
                    </li>

                    <li class="menu-title">
                        <span>Contact</span>
                    </li>
                    <li class="{% if contact_slider_url == 'contact_slider' or edit_contact_slider_url == 'edit_contact_slider' %}active{% endif %}"><a href="{% url 'contact_slider' %}"><i class="fas fa-sliders-h"></i><span>Slider</span></a></li>
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="lock"></i> <span> Authentication </span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="login.html"> Login </a></li>-->
<!--                            <li><a href="register.html"> Register </a></li>-->
<!--                            <li><a href="forgot-password.html"> Forgot Password </a></li>-->
<!--                            <li><a href="lock-screen.html"> Lock Screen </a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="alert-octagon"></i> <span> Error Pages </span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="error-404.html">404 Error </a></li>-->
<!--                            <li><a href="error-500.html">500 Error </a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="users.html"><i data-feather="user"></i> <span>Users</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="blank-page.html"><i data-feather="file"></i> <span>Blank Page</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="maps-vector.html"><i data-feather="map-pin"></i> <span>Vector Maps</span></a>-->
<!--                    </li>-->
<!--                    <li class="menu-title">-->
<!--                        <span>Pages</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="profile.html"><i data-feather="user-plus"></i> <span>Profile</span></a>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="lock"></i> <span> Authentication </span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="login.html"> Login </a></li>-->
<!--                            <li><a href="register.html"> Register </a></li>-->
<!--                            <li><a href="forgot-password.html"> Forgot Password </a></li>-->
<!--                            <li><a href="lock-screen.html"> Lock Screen </a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="alert-octagon"></i> <span> Error Pages </span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="error-404.html">404 Error </a></li>-->
<!--                            <li><a href="error-500.html">500 Error </a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="users.html"><i data-feather="user"></i> <span>Users</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="blank-page.html"><i data-feather="file"></i> <span>Blank Page</span></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="maps-vector.html"><i data-feather="map-pin"></i> <span>Vector Maps</span></a>-->
<!--                    </li>-->
<!--                    <li class="menu-title">-->
<!--                        <span>UI Interface</span>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="components.html"><i data-feather="layers"></i> <span>Components</span></a>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="box"></i> <span>Elements </span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="sweetalerts.html">Sweet Alerts</a></li>-->
<!--                            <li><a href="tooltip.html">Tooltip</a></li>-->
<!--                            <li><a href="popover.html">Popover</a></li>-->
<!--                            <li><a href="ribbon.html">Ribbon</a></li>-->
<!--                            <li><a href="clipboard.html">Clipboard</a></li>-->
<!--                            <li><a href="drag-drop.html">Drag & Drop</a></li>-->
<!--                            <li><a href="rangeslider.html">Range Slider</a></li>-->
<!--                            <li><a href="rating.html">Rating</a></li>-->
<!--                            <li><a href="toastr.html">Toastr</a></li>-->
<!--                            <li><a href="text-editor.html">Text Editor</a></li>-->
<!--                            <li><a href="counter.html">Counter</a></li>-->
<!--                            <li><a href="scrollbar.html">Scrollbar</a></li>-->
<!--                            <li><a href="spinner.html">Spinner</a></li>-->
<!--                            <li><a href="notification.html">Notification</a></li>-->
<!--                            <li><a href="lightbox.html">Lightbox</a></li>-->
<!--                            <li><a href="stickynote.html">Sticky Note</a></li>-->
<!--                            <li><a href="timeline.html">Timeline</a></li>-->
<!--                            <li><a href="horizontal-timeline.html">Horizontal Timeline</a></li>-->
<!--                            <li><a href="form-wizard.html">Form Wizard</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="bar-chart-2"></i> <span> Charts </span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="chart-apex.html">Apex Charts</a></li>-->
<!--                            <li><a href="chart-js.html">Chart Js</a></li>-->
<!--                            <li><a href="chart-morris.html">Morris Charts</a></li>-->
<!--                            <li><a href="chart-flot.html">Flot Charts</a></li>-->
<!--                            <li><a href="chart-peity.html">Peity Charts</a></li>-->
<!--                            <li><a href="chart-c3.html">C3 Charts</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="award"></i> <span> Icons </span> <span-->
<!--                                class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="icon-fontawesome.html">Fontawesome Icons</a></li>-->
<!--                            <li><a href="icon-feather.html">Feather Icons</a></li>-->
<!--                            <li><a href="icon-ionic.html">Ionic Icons</a></li>-->
<!--                            <li><a href="icon-material.html">Material Icons</a></li>-->
<!--                            <li><a href="icon-pe7.html">Pe7 Icons</a></li>-->
<!--                            <li><a href="icon-simpleline.html">Simpleline Icons</a></li>-->
<!--                            <li><a href="icon-themify.html">Themify Icons</a></li>-->
<!--                            <li><a href="icon-weather.html">Weather Icons</a></li>-->
<!--                            <li><a href="icon-typicon.html">Typicon Icons</a></li>-->
<!--                            <li><a href="icon-flag.html">Flag Icons</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="form-basic-inputs.html">Basic Inputs </a></li>-->
<!--                            <li><a href="form-input-groups.html">Input Groups </a></li>-->
<!--                            <li><a href="form-horizontal.html">Horizontal Form </a></li>-->
<!--                            <li><a href="form-vertical.html"> Vertical Form </a></li>-->
<!--                            <li><a href="form-mask.html">Form Mask </a></li>-->
<!--                            <li><a href="form-validation.html">Form Validation </a></li>-->
<!--                            <li><a href="form-select2.html">Form Select2 </a></li>-->
<!--                            <li><a href="form-fileupload.html">File Upload </a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li class="submenu">-->
<!--                        <a href="#"><i data-feather="layout"></i> <span> Tables </span> <span class="menu-arrow"></span></a>-->
<!--                        <ul>-->
<!--                            <li><a href="tables-basic.html">Basic Tables </a></li>-->
<!--                            <li><a href="data-tables.html">Data Table </a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>


    {% block d-content %}

    {% endblock %}

</div>


<script src="{% static '' %}dashboard/js/jquery-3.6.0.min.js"></script>
<script src="{% static '' %}dashboard/js/bootstrap.bundle.min.js"></script>
<script src="{% static '' %}dashboard/js/feather.min.js"></script>
<script src="{% static '' %}dashboard/js/image-preview.js"></script>

<script src="{% static '' %}dashboard/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="{% static '' %}dashboard/plugins/apexchart/apexcharts.min.js"></script>
<script src="{% static '' %}dashboard/plugins/apexchart/chart-data.js"></script>
<script src="{% static '' %}dashboard/plugins/select2/js/select2.min.js"></script>
<script src="{% static '' %}dashboard/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="{% static '' %}dashboard/plugins/datatables/datatables.min.js"></script>
<script src="{% static '' %}dashboard/plugins/moment/moment.min.js"></script>

<!--<script src="{% static '' %}dashboard/js/bootstrap.min.js"></script>-->
<script src="{% static '' %}dashboard/js/bootstrap-datetimepicker.min.js"></script>
<script src="{% static '' %}dashboard/plugins/fileupload/fileupload.min.js"></script>
<script src="{% static '' %}dashboard/js/script.js"></script>
<!--<script src="{% static '' %}dashboard/js/multiple_image_upload.js"></script>-->
<script src="{% static '' %}dashboard/js/custom.js"></script>

<script>
    $('#confirm_password').on('keyup', function () {
  if ($('#new_password').val() == $('#confirm_password').val()) {
    $('#message').html('Password Matched').css('color', 'green');
    $('#save_change').attr('type', 'submit');
  } else
    $('#message').html('No Password Matched').css('color', 'red');
});
</script>
</body>
</html>










